* {
    background-color: rgb(233, 179, 113);
}
* {
    margin: 10px;
    padding: 2px;
}


p { color: rgba(83, 16, 146, 0.836); }

table, tr, th, td {border:1px solid rgba(9, 26, 122, 0.952); border-collapse:collapse; padding:5px;}

h1#titulo { color: teal; }
h1
 { color: rgb(98, 0, 128); }
 h3
 { color: rgb(128, 0, 43); }
 h2
 { color: rgb(11, 128, 0); }

.color
{
    color: rgb(68, 4, 4)
 }

 .colo1
 {
     color: rgb(5, 4, 105)
  }
  .colo2
  {
      color: rgb(236, 12, 12)
   }
   ul
   {
    color: rgba(194, 9, 123, 0.89)
 }
 td
 {
    color: rgb(5, 92, 70)
 }
  
   